<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: false">

    <div class="uk-slideshow-items uk-margin-medium-top " uk-height-viewport="offset-top: false; offset-bottom: 30">
        <div class="uk-container">
            <div class="uk-child-width-expand@s uk-text-left" uk-grid>
                <div>
                    <div class="uk-card uk-card-body">
                        <h1 class="uk-heading-large">Large</h1>
                        <p>Teste</p>
                        <p>Teste</p>
                        <div>
                            <p uk-margin>
                                <button class="uk-button uk-button-default uk-button-large">Large button</button>
                                <button class="uk-button uk-button-primary uk-button-large">Large button</button>
                            </p>
                        </div>
                    </div>


                </div>
                <div>
                    <div class=" uk-padding ">
                        <img  src="img/telcables_south_africa-metro.png" alt="" >
                    </div>
                </div>

            </div>
        </div>
        <div>
            <img src="images/dark.jpg" alt="" uk-cover>
        </div>
        <div>
            <img src="images/light.jpg" alt="" uk-cover>
        </div>
    </div>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
        uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
        uk-slideshow-item="next"></a>

</div>